*.ts filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text

# Exclude important JSON files from Git LFS
package.json -filter=lfs -diff=lfs -merge=lfs text
*/package.json -filter=lfs -diff=lfs -merge=lfs text
*/*/package.json -filter=lfs -diff=lfs -merge=lfs text
manifest.json -filter=lfs -diff=lfs -merge=lfs text
tsconfig.json -filter=lfs -diff=lfs -merge=lfs text
*/tsconfig.json -filter=lfs -diff=lfs -merge=lfs text
